.HiderNavDiv{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 140, 255) 100%);

    display: flex;
    justify-content: flex-end;
    align-items: center;

}
